<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The REAL Papa John's</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <style type="text/css">
        html,
        body,
        header,
        .view.jarallax {
            height: 100%;
            min-height: 100%;
        }
    </style>
</head>

<body class="restaurant-lp">

    <!--Navigation & Intro-->
    <header class="mb-4">

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: white;">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="images/bubbajohns.gif" width=75>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon black-text"><i class="fas fa-bars fa-1x"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--Links-->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link black-text" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link black-text" href="/appetizers" data-offset="100">Appetizers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link black-text" href="/pizzas" data-offset="100">Pizzas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link black-text" href="/desserts" data-offset="100">Desserts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link black-text" href="/login" data-offset="100">SignUp/LogIn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link black-text" href="/logout" data-offset="100">Log Out</a>
                        </li>
                    </ul>

                    <!--Social Icons-->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fab fa-facebook-f black-text"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fab fa-twitter black-text"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fab fa-instagram black-text"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--/Navbar-->