<%- include('partials/aux-start.ejs') %>

<div id="container1">
    <div class="login">

    </div>
</div>
<div id="container2">
    <div class="logout">
        <input type="button" value="">
    </div>
</div>


<%- include('partials/page-end.ejs') %>