<!--Footer-->
<footer class="page-footer text-center text-md-left pt-4">

    <!--Footer Links-->
    <div class="container mb-4">

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-lg-4 pt-1 pb-3 wow fadeIn" data-wow-delay="0.3s">
                <!--About-->
                <h5 class="title mb-4">
                    <strong>ABOUT RESTAURANT</strong>
                </h5>

                <p>The Real Bubba John's is for people love betterer pizza. If you don't enjoy betterer pizza you can
                    F.O.. Those who do not tip will have their houses toilet papered. Enjoy! </p>

                <p class="mb-1-half"> Have a question or comment? Probably best to keep it to yourself.</p>
                <!--/About -->

                <div class="footer-socials">

                    <!--Facebook-->
                    <a type="button" class="btn-floating green">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <!--Dribbble-->
                    <a type="button" class="btn-floating green">
                        <i class="fab fa-dribbble"></i>
                    </a>
                    <!--Twitter-->
                    <a type="button" class="btn-floating green">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <!--Google +-->
                    <a type="button" class="btn-floating green">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <!--Linkedin-->

                </div>
            </div>
            <!--/First column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Second column-->
            <div class="col-lg-4 pt-1 pb-1 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <!--Search-->
                <h5 class="text-uppercase mb-4">
                    <strong>Search something</strong>
                </h5>

                <ul class="footer-search list-unstyled">
                    <li>
                        <form class="search-form" role="search">
                            <div class="md-form">
                                <input type="text" class="form-control text-white" placeholder="Search">
                            </div>
                        </form>
                    </li>
                </ul>

                <!--Info-->
                <p>
                    <i class="fas fa-home mr-3"></i> Atlanta, Ga 30305, US</p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> betterer@therealbubbajohns.com</p>
                <p>
                    <i class="fas fa-phone mr-3"></i>404.123.3456</p>

            </div>
            <!--/Second column-->

            <hr class="w-100 clearfix d-md-none">

            <!--First column-->
            <div class="col-lg-4 pt-1 pb-1 col-md-6 wow fadeIn text-center" data-wow-delay="0.3s">

                <!--Title-->
                <h5 class="title mb-4 text-uppercase">
                    <strong>Opening hours</strong>
                </h5>

                <!--Opening hours table-->
                <table class="table text-white">
                    <tbody>
                        <tr>
                            <td>Mon - Thu:</td>
                            <td>10am - 12am</td>
                        </tr>
                        <tr>
                            <td>Fri - Sat:</td>
                            <td>10am - 2am</td>
                        </tr>
                        <tr>
                            <td>Sunday:</td>
                            <td>11am - 10pm</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!--/First column-->

        </div>
        <!--/First row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" data-wow-delay="0.3s">
        <div class="container-fluid">
            © 2020 Copyright: <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> The REAL Bubba
                John's
            </a>
        </div>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->


<!-- SCRIPTS -->

<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>

<script>
    //Animation init
    new WOW().init();

    //Modal
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
    })

    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').material_select();
    });

    // MDB Lightbox Init
    $(function () {
        $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
    });

</script>