<%- include('partials/aux-start.ejs') %>
<div class="mt-4">

    <div class="row m-4">

        <div class="container justify-content-around d-flex col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="images/garlic_knots.jpeg" alt="Card image cap">
                <div class="card-body">


                    <h4 class="card-title"><a>Garlic Knots</a></h4>

                    <p class="card-text">Our delicious dough tied in a knot and covered in EVOO & Garlic. You're
                        welcome!
                    </p>
                    <p class="card-text">$4.99</p>

                    <form action="/appetizers" method="POST">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <input type="hidden" name="name" value="Garlic Knots">
                        <input type="hidden" name="description"
                            value="Our delicious dough tied in a knot and covered in EVOO & Garlic. You're welcome!">
                        <input type="hidden" name="price" value="$4.99">
                    </form>
                    <form action="" method="">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>

                </div>

            </div>
        </div>
        <div class="container d-flex justify-content-around col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="images/cheese_bread.jpeg" alt="Card image cap">
                <div class="card-body">


                    <h4 class="card-title"><a>Cheesey Bread</a></h4>

                    <p class="card-text">You'll be in love at first bite with our dank ass cheesey bread!</p>
                    <p class="card-text">$5.99</p>

                    <form action="/appetizers" method="POST">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <input type="hidden" name="name" value="Cheesey Bread">
                        <input type="hidden" name="description"
                            value="You'll be in love at first bite with our dank ass cheesey bread!">
                        <input type="hidden" name="price" value="$5.99">
                    </form>
                    <form action="" method="">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>

                </div>

            </div>
        </div>
        <div class="container d-flex justify-content-around col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="images/boneless_wings.jpeg" alt="Card image cap">
                <div class="card-body">


                    <h4 class="card-title"><a>Boneless Wings</a></h4>

                    <p class="card-text">Juicy, tender chicken nuggets breaded and covered in our tangy buffalo sauce!
                    </p>
                    <p class="card-text">$6.99</p>

                    <form action="/appetizers" method="POST">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <input type="hidden" name="name" value="Boneless Wings">
                        <input type="hidden" name="description"
                            value="Juicy, tender chicken nuggets breaded and covered in our tangy buffalo sauce!">
                        <input type="hidden" name="price" value="$6.99">
                    </form>
                    <form action="" method="">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>

                </div>

            </div>
        </div>

    </div>
</div>


<%- include('partials/page-end.ejs') %>
<%- include('partials/page-close.ejs') %>