<%- include('partials/aux-start.ejs') %>

<div class="d-flex">
    <div width="50%">
        <!-- Default form register -->
        <form class="text-center border border-light p-5" action="/signup" method="POST">

            <p class="h4 mb-4">Sign up</p>

            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <input type="text" id="defaultRegisterFormName" class="form-control" placeholder="Name"
                        name="name">
                </div>
                <div class="col">
                    <!-- Email -->
                    <input type="email" id="defaultRegisterFormEmail" class="form-control" placeholder="Email"
                        name="email">
                </div>
            </div>

            <!-- Address -->
            <input type="text" id="defaultRegisterFormAddress" class="form-control mb-4" placeholder="Full Address"
                name="address">

            <!-- Phone number -->
            <input type="text" id="defaultRegisterPhone" class="form-control" placeholder="Phone number"
                aria-describedby="defaultRegisterFormPhoneHelpBlock" name="phone">
            <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                Optional - for two step authentication
            </small>

            <!-- ccNum -->
            <input type="text" id="defaultRegisterFormCC" class="form-control mb-4" placeholder="Credit Card"
                name="ccNum">

            <div class="form-row mb-4">
                <div class="col">
                    <!-- ccExp-->
                    <input type="text" id="defaultRegisterFormExpire" class="form-control" placeholder="Exp: MMYY"
                        name="ccExp">
                </div>
                <div class="col">
                    <!-- ccCode -->
                    <input type="text" id="defaultRegisterFormCCcode" class="form-control" placeholder="CVC"
                        name="ccCode">
                </div>
            </div>


            <!-- Password -->
            <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
                aria-describedby="defaultRegisterFormPasswordHelpBlock" name="password">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                At least 8 characters and 1 digit
            </small>


            <!-- Sign up button -->
            <button class="btn btn-info my-4 btn-block" type="submit">Sign Up</button>

            <!-- Social register -->
            <p>or sign up with:</p>

            <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

            <hr>

            <!-- Terms of service -->
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a>

        </form>
        <!-- Default form register -->

    </div>
    <div class="container-signin" width="50%">
        <!-- Default form login -->
        <form class="text-center border border-light p-5" action="/signup" method="POST">

            <p class="h4 mb-4">Sign in</p>

            <!-- Email -->
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

            <!-- Password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

            <!-- Register -->
            <p>Not a member?
                <a href="">Register</a>
            </p>

            <!-- Social login -->
            <p>or sign in with:</p>

            <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

        </form>
        <!-- Default form login -->
    </div>

</div>

<%- include('partials/page-end.ejs') %>
<%- include('partials/page-close.ejs') %>