<%- include('partials/aux-start.ejs') %>

<div class="mt-4">

    <div class="row m-4">

        <div class="container justify-content-around d-flex col-12 col-sm-6 col-md-3 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="images/cheese_pizza.jpeg" width=18rem alt="Card image cap">
                <div class="card-body">


                    <h4 class="card-title"><a>3-Cheese Pizza</a></h4>

                    <p class="card-text">Cheesey Goodness!
                    </p>
                    <p class="card-text">$9.99</p>

                    <form action="/pizzas" method="POST">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <input type="hidden" name="name" value="3-Cheese">
                        <input type="hidden" name="description" value="cheesey goodness">
                        <input type="hidden" name="price" value="$9.99">
                    </form>
                    <form action="" method="">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>
                    

                </div>

            </div>
        </div>
        <div class="container justify-content-around d-flex col-12 col-sm-6 col-md-3 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="images/pepperoni.jpeg" width=18rem alt="Card image cap">
                <div class="card-body">


                    <h4 class="card-title"><a>Pepperoni</a></h4>

                    <p class="card-text">Layers of the finest pepperoni make this pizza a can't miss!</p>
                    <p class="card-text">$10.99</p>

                    <form action="/pizzas" method="POST">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <input type="hidden" name="name" value="Pepperoni">
                        <input type="hidden" name="description" value="Layers of the finest pepperoni make this pizza a can't miss!">
                        <input type="hidden" name="price" value="$10.99">
                    </form>
                    <form action="" method="">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>

                </div>

            </div>
        </div>
        <div class="container justify-content-around d-flex col-12 col-sm-6 col-md-3 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="images/veggie_pizza.jpeg" width=18rem alt="Card image cap">
                <div class="card-body">


                    <h4 class="card-title"><a>Garden Pizza</a></h4>

                    <p class="card-text">Tomato, black olive, onion, bell pepper, mushroom, spinach & garlic.</p>
                    <p class="card-text">$10.99</p>

                    <form action="/pizzas" method="POST">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <input type="hidden" name="name" value="Garden Pizza">
                        <input type="hidden" name="description" value="Tomato, black olive, onion, bell pepper, mushroom, spinach & garlic.">
                        <input type="hidden" name="price" value="$10.99">
                    </form>
                    <form action="" method="">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>

                </div>

            </div>
        </div>
        <div class="container justify-content-around d-flex col-12 col-sm-6 col-md-3 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="images/meat_lovers.jpeg" width=18rem alt="Card image cap">
                <div class="card-body">


                    <h4 class="card-title"><a>Meat Lovers</a></h4>

                    <p class="card-text">Sausage, Pepperoni, Ground Beef, Chicken</p>
                    <p class="card-text">$12.99</p>

                    <form action="/pizzas" method="POST">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <input type="hidden" name="name" value="Meat Lovers">
                        <input type="hidden" name="description" value="Sausage, Pepperoni, Ground Beef, Chicken">
                        <input type="hidden" name="price" value="$12.99">
                    </form>
                    <form action="" method="">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>

                </div>

            </div>
        </div>

    </div>
</div>



<%- include('partials/page-end.ejs') %>